/*Organized in this way:
- position
-display
-styles 
*/

/*Content card*/
.advice__content{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;

    height: 50%;
    width: 80%;
    min-width: 15em;
    box-sizing: border-box;
    border-radius: 1em;
    background-color: var(--neutral-grey-dark-blue);
    padding: 2.5em;
    box-shadow: 3px 4px 10px 5px rgba(0, 0, 0, 0.2);
}

.section__text{
    width: 100%;
    height: 75%;
    box-sizing: border-box;
}

.section__text *{
    color: var(--primary-cyan);
}

.advice__text{
    overflow: hidden;
    overflow-y: auto;
    height: 70%;
    width: 100%;
}

.advice__text::-webkit-scrollbar{
    width: 0.5em;

}

.advice__text::-webkit-scrollbar-track{
    border-radius: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
}

.advice__text::-webkit-scrollbar-thumb{
    background-color: var(--primary-green);
    border-radius: 100vw;
}

.advice__text p, .advice__id h4{
    margin: 0;
    display: block;   
}

.advice__text p, .advice__id{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
    text-align: center;
}

.advice__id, .advice__id *{
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: var(--primary-green);
}


/* Divider */
.division{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0.5em;
    width: 100%;
}

.divider{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 50%;
    height: 1.5em;
    padding: 0;
}

.divider::before, .divider::after{
    position: relative;
    display: block;
    content: "";
    background-color: var(--primary-cyan);
}

.divider::before{
    width: 80%;
    height: 1px;
    border-radius: 100vw;
}

.divider::after{
    height: 100%;
    width: 12px;
    border-radius: 4px;
}

.divider:nth-of-type(2){
    transform: rotate(180deg);
}

/*The button position */
.submit{
    position: absolute;
    top: 90%;
}

/* Load animation*/
.load{
    height: var(--step-1);
    aspect-ratio: 1/1.25;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
}

.dots{
    width: 80%;
    aspect-ratio: 1;
    background-color: currentColor;
    border-radius: 50%;
    animation: infinite alternate load 0.5s ease-in-out;
}

@keyframes load {
    from{
        transform: translateY(2px);
    }

    to{
        transform: translateY(-2px);
    }
}

.dots:nth-of-type(2){
    animation: infinite alternate load-2 0.5s ease-in-out;
}

.dots:nth-of-type(3){
    animation-delay: 0.25s;
}

@keyframes load-2 {
    from{
        transform: translateY(-2px);
    }

    to{
        transform: translateY(2px);
    }
}

@media screen and (min-width:690px) {
    .advice__content{
        width: 40em;
    }
}

